<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include("head") %> 
        <link rel="stylesheet" href="/stylesheets/agregarPost.css">
    </head>

<body>
    <%- include("headerLogueado") %> 

    <main class="granContenedor">
        <div class=" uk-section uk-section-small">
            <div class=" contenedor uk-container uk-container-large uk-flex">
               <div>
                <h2 class="tituloPost">Posteá tu foto!</h2>
                </div>
                <form class='subiFoto' action="/profile/manzanita">

                    <div class="gifsubiFoto"> <img src="https://media.giphy.com/media/3oz8xDzuVDbKoU4shi/giphy.gif" alt=""></div>
                   
                 <div>
                    <div class="uk-margin">
                        <input class="uk-input uk-form-width-medium" type="text" placeholder="Usuario">
                    </div>  
                        <div class="uk-margin" uk-margin>
                            <div uk-form-custom="target: true">
                                <input type="file">
                                <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
                            </div>
                        </div>
                    <p>Añade un comentario
                        <textarea class='uk-textarea' id="msg" name="user_message"></textarea></p>    
                    <input class='uk-button boton uk-button-default' type="submit" value="Subi tu foto!">

                </div>
                </form>

            </div>
        </div>
    </main>
    <%- include("footer") %> 
</body>

</html>