<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include("head") %> 
        <link rel="stylesheet" href="/stylesheets/agregarPost.css">
    </head>

<body>
    <%- include("headerLogueado") %> 

    <main class="granContenedor">
        <div class=" uk-section uk-section-small">
            <div class=" contenedor uk-container uk-container-large uk-flex">
               <div>
                <h2 class="tituloPost">Posteá tu foto!</h2>
                </div>
        <form class='subiFoto' action="/profile/postAgregado" method="POST">

          <div class="gifsubiFoto"> <img src="https://media.giphy.com/media/3oz8xDzuVDbKoU4shi/giphy.gif" alt=""></div>
 
            <div>
                        <p>Copia su URL</p> 
                <div class="uk-margin" uk-margin>
                        
                        
                        <div uk-form-custom="target: true">
    
                        </div>
                </div>
                        <p>Añade un comentario o pie de foto
                        <input class="uk-input uk-form-width-medium" type="text" placeholder="URL" name="url" >
                        <input class='uk-textarea' name="comentario"></input></p>    
                        
                        <input type="number" name="id">   
                        <input type="number" name="idusuario">   
                        <input type="date" name="fecha">              
                        <input class='uk-button boton uk-button-default' type="submit" value="Subi tu foto!">   

            </div>
        </form>

            </div>
        </div>
    </main>
    <%- include("footer") %> 
</body>

</html>