<html>
<head>

<body>
    

<h1> Fruitbookers </h1>

<ul>
<% for( let i = 0; i < lista.length; i++ ) { %>
    <li>

        <a href="/profile/detalleUsuario/<%= lista[i].idusuarios %> ">
    <%= lista[i].nombre_usuario %>
        </a> 
</li>
<% } %>


</ul>

</body>

</head>


</html>