<html>
<head>

<body>
    

<h1> Fruitbookers </h1>

<ul>
<% for( let i = 0; i < lista.length; i++ ) { %>
    <li>
    <%= lista[i].nombre_usuario %> 
</li>
<% } %>


</ul>

</body>

</head>


</html>