<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include("head") %> 
        <link rel="stylesheet" href="/stylesheets/agregarPost.css">
    </head>

<body>
    <%- include("headerLogueado") %> 

    <main class="granContenedor">
        
    </main>
    <%- include("footer") %> 
</body>

</html>