<footer class="uk-background-primary uk-flex uk-flex-between uk-flex-middle">
    <ul class="uk-width-1-6 uk-flex uk-flex-middle uk-flex-around uk-height-1-1 uk-margin-remove uk-padding-remove">
        <li><a href="" uk-icon="instagram"></a></li>
        <li><a href="" uk-icon="facebook"></a></li>
        <li><a href="" uk-icon="twitter"></a></li>
    </ul>
    <ul class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-between uk-height-1-1 uk-margin-remove uk-padding-remove">
        <li> <a href="https://www.linkedin.com/in/santiago-safdie-67999095?originalSubdomain=ar"></a>
            Santiago Safdie </li>
        <li>Iara Burgueño</li>
        <li>Mora Jaichenco</li>
    </ul>
</footer>