<footer class=" uk-flex uk-flex-between uk-flex-middle">
    <ul class="uk-width-auto uk-flex uk-flex-middle uk-flex-around uk-height-1-1 uk-margin-remove uk-padding-remove">
   
        <li><a href="https://www.instagram.com/elmundodelaprogramacion/" uk-icon="instagram"></a></li>
        <li><a href="https://www.facebook.com/groups/685405254999981" uk-icon="facebook"></a></li>
        <li><a href="https://twitter.com/noprog" uk-icon="twitter"></a></li>
        <li class="ulC"> Unite a nuestra comunidad! </li>
    </ul>
        
    <ul class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-between uk-height-1-1 uk-margin-remove uk-padding-remove">
        <li> <a href="https://www.linkedin.com/in/santiago-safdie-67999095?originalSubdomain=ar" class="alumnos">
            Santiago Safdie </a>
           </li>
        <li>
           <a href="https://www.linkedin.com/in/iarab/" class="alumnos">
            Iara Burgueño
           </a> 
           </li>
        <li>
            <a href="https://www.facebook.com/Moraa.jaichenco" class="alumnos">
                Mora Jaichenco</a>
            </li>
    </ul>
</footer>

