<header>
    <section>
    <div class="headerPrincipal uk-flex uk-flex-right">
        <div class='logO'>
                   
            <h2 class="logo"><a href="/home/">FruitBook</a></h2>
        
        </div>
        <div class="contenedorBuscador">
            <ul class="uk-flex uk-flex-between uk-flex-middle">
                <li>
                    <form action="/search/resultadoBusqueda/" class=" buscadoR uk-search uk-search-default">
                        <span class="icono" uk-search-icon></span>
                        <input name="busqueda" type="search" class="uk-search-input buscador" placeholder="Buscar...">
                    </form>
                </li>
            </ul>
        </div>

    </div>


        <nav class="uk-navbar-container barraNavegador" uk-navbar>
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav">
                    <li><a href="/home/">HOME</a></li>
                        <li><a href="/profile/agregarPost">POSTEAR</a></li>
                        <li><a href="/profile/miPerfil">MI PERFIL</a></li>
                 
                        
                </ul>
            </div>
        </nav>

    </section>



</header>