<header>
    <section class=" uk-container uk-container-large">
        <div class="">
            <nav class="uk-navbar">
                
                
                <div class="uk-navbar-center ">
                    <ul class="logo">  <a href="/home/"> FruitBook</a> </ul>
                </div>
                <div class=" uk-navbar-center barraNavegador">

                    <ul class="navegador uk-flex uk-flex-between uk-flex-middle">
                        
                        <li><a href="/home/">HOME</a></li>
                        <li><a href="/profile/agregarPost">POSTEAR</a></li>
                        <li><a href="/home/registracion">REGISTRACIÓN</a></li>
                        <li><a href="/home/login">LOGIN</a></li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-flex uk-flex-between uk-flex-middle">
                        <li>
                            <form action="/search/resultadoBusqueda/" class="uk-search uk-search-default">
                                <span uk-search-icon></span>
                                <input type="search" class="uk-search-input buscador" placeholder="Buscar...">
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
    <div class="fondoNav"></div>
</header>