<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include("head") %> 
        <link rel="stylesheet" href="/stylesheets/home.css">
    </head>

<body>
    <%- include("headerDeslogueado") %> 

    <main>

        <div class="contenedorGeneral uk-section uk-section-small">

            <div class="uk-container uk-container-large uk-flex contenedorChico">
                <section id="posts" class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://media.giphy.com/media/ysSCIY215u80w/giphy.gif" alt="" >
                            </div>
                            <h4 class="nombreUsuario"> <a href="/profile/miPerfil">@Manzana_Roja </a></h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="https://media.giphy.com/media/CfxNnwHaOayFW/giphy.gif" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                               <p class="manzana"><a class='usuario' href="/profile/miPerfil" >@Manzana_Roja          </a></p> <br>
                               
                                <p class="uk-width-15-6 "> Hoy jugamos con mi amiga #Martu en su casa y la pasamos muy bien! </p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a class='usuarioComent'href="">@Naranja_Exprimida98</a>
                                    <p>Lindass!</p>
                                </li>
                                <li>
                                    <a class='usuarioComent' href="">@SandiacOOL</a>
                                    <p>Gracias por invitar....</p>
                                </li>
                                <a class='verMas' href="/search/detallePost/1">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://media.giphy.com/media/VIoej4ofZ6IH9FQwAu/giphy.gif" alt="">
                            </div>
                            <h4 class="nombreUsuario"> <a href="/profile/detalleUsuario/1">@laPeraQueTeEspera;)</a></h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="https://media.giphy.com/media/l3q2Fa0XM2SEciHaU/giphy.gif" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <a class="usuario" href="/profile/detalleUsuario/1" >@laPeraQueTeEspera;)</a><br>
                                <p class="uk-width-5-6">Ayer me mordieron, ya nada sera lo mismo</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a class='usuarioComent' href="">@uvaDeVino</a>
                                    <p>JAJAJAJAJAJAJ LOOOOOOOL </p>
                                </li>
                                <li>
                                    <a class='usuarioComent' href="">@Naranja_Exprimida98</a>
                                    <p>a todos les llega perita, tranquila</p>
                                </li>
                                <a class='verMas' href="/search/detallePost/2">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://media.giphy.com/media/2A2fTrtEFRB86cND55/giphy.gif" alt="">
                            </div>
                            <h4 class="nombreUsuario"> <a href="">@bananita_Aa </a></h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="https://media.giphy.com/media/7SWMPHg462IbxdFzrd/giphy.gif" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <a class=" usuario"> @bananita_Aa    </a><br>
                                <p class="uk-width-5-6">  Las bananas merecen ser tratadas con decencia y amor por esto, para este 30/9 los invito a la marcha #NiUnaBananaMenos  </p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a class='usuarioComent' href="">@frufru</a>
                                    <p>Alli estaremos con las frutillas!</p>
                                </li>
                                <li>
                                    <a class='usuarioComent' href="">@uvaDeVino</a>
                                    <p>el pueblo unido jamas sera vencido</p>
                                </li>
                                <a class='verMas' href="/search/detallePost/3">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://media.giphy.com/media/k5dX3BHkIQAqWRnT1H/giphy.gif" alt="">
                            </div>
                            <h4 class="nombreUsuario"> <a href="">@frufru </a></h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="https://media.giphy.com/media/XV0oUIBrHfwic/giphy.gif" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <a class="usuario">   @frufru </a><br>
                                <p class="uk-width-5-6"> Its another day ;)   </p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a class='usuarioComent' href="">@bananita_Aa</a>
                                    <p>xD xD xD</p>
                                </li>
                                <li>
                                    <a class='usuarioComent' href="/profile/miPerfil">
                                        @Manzana_Roja</a>
                                    <p>muy buena!</p>
                                </li>
                                <a class='verMas' href="/search/detallePost/4">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://media.giphy.com/media/xT1XGTaTeovBeLdrRS/giphy.gif" alt="">
                            </div>
                            <h4 class="nombreUsuario"> <a href=""> @SandiacOOL </a></h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="https://media.giphy.com/media/wGJGVTbZSvAL6/giphy.gif" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <a class="usuario "> @SandiaCoOL   </a><br>
                                <p class="uk-width-5-6">NOS ESTAN DEVORANDO! JUSTICIA! TORTUGAS A LA CARCEL! </p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a class='usuarioComent' href="">@frufru</a>
                                    <p>JUSTICIA</p>
                                </li>
                                <li>
                                    <a class='usuarioComent' href="/profile/miPerfil">@Manzana_Roja</a>
                                    <p>no esta bueno estigmatizar a las tortugas!</p>
                                </li>
                                <a class='verMas' href="/search/detallePost/5">Ver más...</a>
                            </ul>
                        </div>
                    </article>
        
                </section>

            </div>
        </div>
    </main>

<%- include("footer") %> 

</body>

</html>