<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FruitBook</title>
    <link rel="icon"
        href="https://w7.pngwing.com/pngs/624/811/png-transparent-computer-icons-facebook-social-media-f-logo-cross-brand.png"
        type="image/x-icon">

    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/general.css">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->
    
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />
    
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <%- include("headerDeslogueado") %> 

    <main>

        <div class="contenedorGeneral uk-section uk-section-small">

            <div> <h1 class="titulo">Home</h1></div>
            <div class="uk-container uk-container-large uk-flex contenedorChico">
                <section id="posts" class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://media.giphy.com/media/ysSCIY215u80w/giphy.gif" alt="" >
                            </div>
                            <h4 class="nombreUsuario"> <a href="/profile/manzanita">@Manzana_Roja </a></h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="https://media.giphy.com/media/CfxNnwHaOayFW/giphy.gif" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                               <p><a class='usuario' href="/profile/manzanita">@Manzana_Roja          </a></p> <br>
                               
                                <p class="uk-width-15-6 "> Hoy jugamos con mi amiga #Martu en su casa y la pasamos muy bien! </p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">@Naranja_Exprimida98</a>
                                    <p>Lindass!</p>
                                </li>
                                <li>
                                    <a href="">@Sandia-->cOOL</a>
                                    <p>Gracias por invitar....</p>
                                </li>
                                <a href="/search/detallePost/1">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://media.giphy.com/media/VIoej4ofZ6IH9FQwAu/giphy.gif" alt="">
                            </div>
                            <h4 class="nombreUsuario"> @laPeraQueTeEspera;)</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="https://media.giphy.com/media/Qyi2jOvt5bnzWTc563/giphy.gif" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <a class="usuario uk-width-1-6">@laPeraQueTeEspera;)</a><br>
                                <p class="uk-width-5-6">Comparti una frase que me causo mucha gracias xDxDxD, que tengan una buena semana</p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">@uvaDeVino</a>
                                    <p>JAJAJAJAJAJAJ LOOOOOOOL </p>
                                </li>
                                <li>
                                    <a href="">Usuario</a>
                                    <p>Comentario</p>
                                </li>
                                <a href="/search/detallePost/2">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://via.placeholder.com/40" alt="">
                            </div>
                            <h4 class="nombreUsuario">@MelonesMelonis</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="https://media.giphy.com/media/7SWMPHg462IbxdFzrd/giphy.gif" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <a class=" usuario uk-width-1-6"> @MelonesMelonis    </a><br>
                                <p class="uk-width-5-6">    </p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">Usuario</a>
                                    <p>Comentario</p>
                                </li>
                                <li>
                                    <a href="">Usuario</a>
                                    <p>Comentario</p>
                                </li>
                                <a href="/search/detallePost/3">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://via.placeholder.com/40" alt="">
                            </div>
                            <h4 class="nombreUsuario"> @frufru</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="https://media.giphy.com/media/XV0oUIBrHfwic/giphy.gif" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <a class="usuario uk-width-1-6">   @frufru </a><br>
                                <p class="uk-width-5-6">    </p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">Usuario</a>
                                    <p>Comentario</p>
                                </li>
                                <li>
                                    <a href="">Usuario</a>
                                    <p>Comentario</p>
                                </li>
                                <a href="/search/detallePost/4">Ver más...</a>
                            </ul>
                        </div>
                    </article>
                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div>
                                <img src="https://via.placeholder.com/40" alt="">
                            </div>
                            <h4 class="nombreUsuario">@Sandia-->cOOL</h4>
                            
                        </div>
                        <div class="post-body uk-flex uk-flex-center">
                            <img src="https://media.giphy.com/media/wGJGVTbZSvAL6/giphy.gif" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <a class="usuario uk-width-1-6"> @Sandia-->cOOL   </a><br>
                                <p class="uk-width-5-6">   El otro dia me acorde cuando en los simpsons agarraron a mi amigo Cuadradin , todos merecen nuestros momentos de fama </p>
                            </div>
                        </div>
                        <div class="post-comentarios">
                            <h6>Comentarios</h6>
                            <ul>
                                <li>
                                    <a href="">@frufru</a>
                                    <p>Como olvidar ese capitulo jajaj</p>
                                </li>
                                <li>
                                    <a href="">@Manzana_Roja</a>
                                    <p>Gran serie, grandes personajes</p>
                                </li>
                                <a href="/search/detallePost/5">Ver más...</a>
                            </ul>
                        </div>
                    </article>
        
                </section>

            </div>
        </div>
    </main>

<%- include("footer") %> 

</body>

</html>