<html>


<body>
    <% for (let i = 0; i < listado.length; i++) { %>
        <li>
      
                <%=listado[i].id%> <%=listado[i].nombre%> <%=listado[i].user%> 
            
        </li>
    <% } %>

</body>
</html>