<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FalseBook</title>
    <link rel="icon"
        href="https://w7.pngwing.com/pngs/624/811/png-transparent-computer-icons-facebook-social-media-f-logo-cross-brand.png"
        type="image/x-icon">

    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/general.css">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <%- include("headerDeslogueado") %> 

    <main>
        <div class="contenedorPrincipal uk-section uk-section-small">

            <div class="contenedor uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">

              

                <h1 class=" titulo uk-animation-slide-bottom-small"> Iniciar Sesión </h1>
                <form action="/profile/miPerfil" class="iniciarSesion">



                    <form>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                <input class="uk-input" type="text" placeholder="Usuario">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                                <input class="uk-input" type="text" placeholder="Contraseña">
                            </div>
                        </div>

                        <input type="submit" class="uk-button uk-button-default botonIngresa" value="Ingresa">
                        <p class="registrateAca">  Primera vez? <a class="registrateAqui" href="/home/registracion">Registrate aqui! </a> </p>

                      </form>
                
                
               
                    </form>
                    <br>
                    

            </div>
        </div>
    </main>

    <%- include("footer") %> 

</body>

</html>