<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("head") %> 
        <link rel="stylesheet" href="/stylesheets/login.css">
    </head>

<body>
    <%- include("headerDeslogueado") %> 

    <main>
        <div class="contenedorPrincipal uk-section uk-section-small ">

            <h1 class="login">Login</h1>

              

           
             <div class="contenedor  uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">


                <form action="/profile/miPerfil" class="iniciarSesion">
                    <div class="gifLogin"> <img src="https://media.giphy.com/media/3ohc0UUiHhVz7iWyEo/source.gif" alt=""></div>



                    <form class="login">
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                <input class="uk-input usuario " type="text" placeholder="Usuario">
                            </div>
                        </div>
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                                <input class="uk-input contrasena" type="text" placeholder="Contraseña">
                            </div>
                        </div>

                        <input type="submit" class="uk-button uk-button-default botonIngresa" value="Ingresa">
                        <p class="registrateAca">  Primera vez? <a class="registrateAqui" href="/home/registracion">Registrate aqui! </a> </p>

                      </form>
                
                
               
                    </form>
                    <br>
                    

            </div>
        </div>
    </main>

    <%- include("footer") %> 

</body>

</html>