<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("head") %> 
    <link rel="stylesheet" href="/stylesheets/registracion.css">
</head>

<body>
    <%- include("headerDeslogueado") %> 

    <main>
        <div class="contenedorGeneral uk-section uk-section-small">
            <div class=" contenedorMayor uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                    

                <div class="bienvenida">
                    <h1 class="bienvenidoA">Bienvenido! Registrate a continuación </h1>
                </div>
            
                    
                    <form class='registracion' action="/home/registracion" method="POST">

                        <div class="gifBienvenida"> <img src="https://media.giphy.com/media/26BRKRABuRCtFVre8/source.gif" alt=""></div>

                        <div>
                        
                        
                        <p><input class='uk-input uk-form-width-medium' type="text" name="usuario" placeholder='Nombre de usuario'> </p>  
                           <p> <input class='uk-input uk-form-width-medium' type="email" id="email" name="email" placeholder="Mail"></p>   
                        <p>
                           
                           <input class='uk-input uk-form-width-medium' type="password" id="pass" name="contraseña" placeholder="Contraseña">
                        </p>   
                        
                            <p>Fecha de nacimiento  <input type="date" class='fechaNacimiento'id="bdaymonth" name="fecha_nacimiento"> </p>
                            <p>Url foto de perfil <input class="uk-input uk-form-width-medium" type="text" placeholder="URL" name="foto_perfil" ></p>
                            
                            
                         <p>Elige una pregunta de seguridad:</p>
                         <select name="pregunta">
                            <option value="1">A que escuela primaria fuiste de chico?</option> 
                            <option value="2">Cual es el nombre de tu mascota?</option> 
                            <option value="3">Cual es tu serie favorita?</option>
                         </select> 
                         <p>Tu respuesta:</p>
                         <p><input class='uk-input uk-form-width-medium' type="text" name="respuesta" placeholder='Respuesta:'> <p></p>

                         <br>
                         <br>


                             <input type="reset" class='uk-button uk-button-default' value="Reset"> <input type="submit" class='uk-button uk-button-default' value="Registrate">

                            </div>
                     </form>
     
        
            </div>
        </div>
    </main>
    <%- include("footer") %> 


</body>

</html>