<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("head") %> 
    <link rel="stylesheet" href="/stylesheets/registracion.css">
</head>

<body>
    <%- include("headerDeslogueado") %> 

    <main>
        <div class="contenedorGeneral uk-section uk-section-small">
            <div class=" contenedorMayor uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                    

                <div class="bienvenida">
                    <h1 class="bienvenidoA">Bienvenido! Registrate a continuación </h1>
                </div>
            
                    
                    <form class='registracion' action="/profile/manzanita">

                        <div class="gifBienvenida"> <img src="https://media.giphy.com/media/26BRKRABuRCtFVre8/source.gif" alt=""></div>

                        <div>
                        
                        <p><input class='uk-input uk-form-width-medium' type="text" name="nombre" placeholder='Nombre'> <p>   
                        <p><input class='uk-input uk-form-width-medium' type="text" name="apellido" placeholder='Apellido'> <p> 
                            <p>Fecha de nacimiento  <input type="date" class='fechaNacimiento'id="bdaymonth" name="bdaymonth"> </p>
                          <p>Selecciona tu sexo:</p>
                          <p><input type="radio" id="male" name="gender" value="male">
                            <label for="male">Masculino</label></p> 
                        <p>  <input type="radio" id="female" name="gender" value="female">
                            <label for="female">Femenino</label></p> 
                        <p>   <input type="radio" id="other" name="gender" value="other">
                            <label for="other">Otro</label></p> 
                            
                            <input class='uk-input uk-form-width-medium' type="email" id="email" name="email" placeholder="Mail">
                         </p>   
                         <p>
                            
                            <input class='uk-input uk-form-width-medium' type="password" id="pass" name="password" placeholder="Contraseña">
                         </p>   

                             <input type="reset" class='uk-button uk-button-default' value="Reset"> <input type="submit" class='uk-button uk-button-default' value="Registrate">

                            </div>
                     </form>
     
        
            </div>
        </div>
    </main>
    <%- include("footer") %> 


</body>

</html>