<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FalseBook</title>
    <link rel="icon"
        href="https://w7.pngwing.com/pngs/624/811/png-transparent-computer-icons-facebook-social-media-f-logo-cross-brand.png"
        type="image/x-icon">

    <link rel="stylesheet" href="/stylesheets/registracion.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/general.css">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <%- include("headerDeslogueado") %> 

    <main>
        <div class="contenedorGeneral uk-section uk-section-small">
            <div class=" contenedorMayor uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                    

                <div class="bienvenida">
                    <h1 class="bienvenidoA">Bienvenido! Registrate a continuación </h1>
                </div>
            
                    
                    <form class='registracion' action="/profile/miPerfil">

                        <div class="gifBienvenida"> <img src="https://media.giphy.com/media/26BRKRABuRCtFVre8/source.gif" alt=""></div>

                        <div>
                        
                        <p><input class='uk-input uk-form-width-medium' type="text" name="nombre" placeholder='Nombre'> <p>   
                        <p><input class='uk-input uk-form-width-medium' type="text" name="apellido" placeholder='Apellido'> <p> 
                            <p>Fecha de nacimiento  <input type="date" class='fechaNacimiento'id="bdaymonth" name="bdaymonth"> </p>
                          <p>Selecciona tu sexo:</p>
                          <p><input type="radio" id="male" name="gender" value="male">
                            <label for="male">Masculino</label></p> 
                        <p>  <input type="radio" id="female" name="gender" value="female">
                            <label for="female">Femenino</label></p> 
                        <p>   <input type="radio" id="other" name="gender" value="other">
                            <label for="other">Otro</label></p> 
  

                            <div class="uk-margin" uk-margin>
                                <div uk-form-custom="target: true">
                                    <input type="file">
                                </div>
                                <button class="uk-button uk-button-default">Submit</button>
                            </div>
                            
                            <input class='uk-input uk-form-width-medium' type="email" id="email" name="email" placeholder="Mail">
                         </p>   
                         <p>
                            
                            <input class='uk-input uk-form-width-medium' type="password" id="pass" name="password" placeholder="Contraseña">
                         </p>   

                             <input type="reset" class='uk-button uk-button-default' value="Reset"> <input type="submit" class='uk-button uk-button-default' value="Registrate">

                            </div>
                     </form>
     
        
            </div>
        </div>
    </main>
    <%- include("footer") %> 


</body>

</html>