<!DOCTYPE html>
<html lang="en">

<%- include("head") %> 

<body>
    <%- include("headerDeslogueado") %> 
    
    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
               
                <% for( let i = 0; i < listado.length; i++ ) { %>
                    <li>
                        <%= lista[i].id %> 
                    </li>
                <% } %>

            </div>
        </div>
    </main>

    <%- include("footer") %> 


</body>

</html>