<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include("head") %> 
        <link rel="stylesheet" href="/stylesheets/resultadoBusqueda.css">
    </head>
    
<body>
    <%- include("headerDeslogueado") %> 
    
    <main>
      <div class="contenedor ">
        <h2 class="tituloResultado">Ups, su busqueda no obtuvo resultados...</h2>
        <div><img class='fotoResultado' src="https://media.giphy.com/media/tK9YVw0UjUwJIL0oSq/giphy.gif" alt=""> </div>
<br>
        <h3 class="volverHome"> Volvemos al home? <a href="/home/"> Click aca! </a> </h3>
     
     <br>

    </div>
    </main>
<br>
    <%- include("footer") %> 


</body>

</html>

<head>
    <%- include("head") %> 
    <link rel="stylesheet" href="/stylesheets/resultadoBusqueda.css">
</head>