<!DOCTYPE html>
<html lang="en">

<%- include("head") %> 

<body>
    <%- include("headerDeslogueado") %> 
    
    <main>
      
        <h2>Su busqueda no obtuvo resultados...</h2>
        <img src="/images/noresults.jpg" alt="">
<br>
        <h3>Volvemos a home?</h3>
     <a href="/home/"> <input type="button" name="" value="Click aca!" id=""></a>  
     
     <br>

    </main>
<br>
    <%- include("footer") %> 


</body>

</html>

<head>
    <%- include("head") %> 
    <link rel="stylesheet" href="/stylesheets/resultadoBusqueda.css">
</head>