<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FalseBook</title>
    <link rel="icon"
        href="https://w7.pngwing.com/pngs/624/811/png-transparent-computer-icons-facebook-social-media-f-logo-cross-brand.png"
        type="image/x-icon">

    <link rel="stylesheet" href="css/resultadoBusqueda.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/general.css">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <header class="uk-background-primary">
        <section class=" uk-container uk-container-large">
            <div class="">
                <nav class="" uk-navbar>
                    <div class="uk-navbar-left">
                        <h2 class="logo"><a href="home.html">FalseBook</a></h2>
                    </div>
                    <div class="uk-navbar-center">
                        <ul class="uk-flex uk-flex-between uk-flex-middle">
                            <li><a href="home.html">Home</a></li>
                            <li><a href="addPost.html">Postear</a></li>
                            <li><a href="miPerfil.html">Perfil</a></li>
                        </ul>
                    </div>
                    <div class="uk-navbar-right">
                        <ul class="uk-flex uk-flex-between uk-flex-middle">
                            <li>
                                <form action="" class="uk-search uk-search-default">
                                    <span uk-search-icon></span>
                                    <input type="search" class="uk-search-input" placeholder="Buscar...">
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </section>
    </header>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
               
                <h2>(Mostar resultados de busqueda)</h2>

            </div>
        </div>
    </main>

    <footer class="uk-position-bottom uk-position-fixed uk-background-primary uk-flex uk-flex-between uk-flex-middle">
        <ul class="uk-width-1-6 uk-flex uk-flex-middle uk-flex-around uk-height-1-1 uk-margin-remove uk-padding-remove">
            <li><a href="" uk-icon="instagram"></a></li>
            <li><a href="" uk-icon="facebook"></a></li>
            <li><a href="" uk-icon="twitter"></a></li>
        </ul>
        <ul class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-between uk-height-1-1 uk-margin-remove uk-padding-remove">
            <li>Martin Hernandez</li>
            <li>Lucia Perez</li>
            <li>Gaston Sanchez</li>
        </ul>
    </footer>


</body>

</html>