h1.titulo {
    margin-bottom: 40px;
    margin-top: 100px;
    font-family: 'Reenie Beanie';
    font-size: 100px;
}

h2.nombreUsuario {
    
}

main {
    padding-top: 30px;
    padding-bottom: 70px;
}

div.editarPerfil {
    padding: 38px;
    font-family: 'Quicksand';
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand';
    border: 1px solid #CCC;
    border-radius: 35px;
    padding-left: 100px;
    padding-right: 100px;
}

div.contenedor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 0px;
}

div.contenedorPrincipal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: -47px;
    padding: 40px;
}

div.gifLogin img {
    height: 206px;
    border-radius: 200px;
}