footer{
    height: 40px;
    color: white;
    padding: 30px 20px;
    background-color: rgb(46, 46, 46);
    margin-bottom: 0px;
}

footer ul{
    list-style: none;
}

footer ul li{
    margin-top: 0;

}

.alumnos {

color: white;
}

li.ulC {
    margin: 0;
    padding-left: 30px;
}