button{

    background-color:rgb(237, 226, 248);
}

div.headerPrincipal {
    background-color: rgb(200, 146, 245);
    text-decoration: none;
    padding-top: 30px;
    padding-bottom: 10px;
    align-items: center;
    height: 89px;
    
}

div.headerPrincipal div h2.logo a{
    font-family: 'Ranchers';
    color: white !important;
    font-size: 70px;
}

div.headerPrincipal div h2.logo a:hover {
    text-decoration: none;
}

nav.uk-navbar-container {
    background-color: rgb(237, 226, 248) !important;
    
}

form.buscadoR ::placeholder, header nav form input span{
    color: white !important;
}

header ul{
    list-style: none;
}

nav div ul li a {
    font-family: 'Quicksand' !important ; 
    color: black !important ;
}

nav div ul li a:hover {
    color: rgb(200, 146, 245) !important;
}

ul li form {
    font-family: 'Quicksand';
}

div.logO {
    width: 43%;

}

span.icono {
    color: white !important;
}

input.buscador {
    color: white !important;
}

div.contenedorBuscador {
    padding-right: 30px;
}


form.logout button {
    font-family: 'Quicksand' !important ; 

}

  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */


  
  .dark-mode {
    background-color: black;
    color: white;
  }