/* FONTS */
@import url('https://fonts.google.com/specimen/Fredoka+One#standard-styles');
@import url('https://fonts.google.com/specimen/Ranchers');
@import url('https://fonts.google.com/specimen/Comfortaa');
@import url('https://fonts.google.com/specimen/Spartan#standard-styles');
@import url('https://fonts.google.com/specimen/Quicksand?category=Sans+Serif,Display,Handwriting,Monospace');
@import url('https://fonts.google.com/specimen/Montserrat?category=Sans+Serif,Display,Handwriting,Monospace');
@import url('https://fonts.google.com/specimen/Reenie+Beanie');


/* FONTS */

/*
header{
    padding-top: 19px;
    background-color: rgb(200, 146, 245);
    height: 81px;
}

div.barraNavegador {
    font-family: 'Quicksand';
}

input.buscador {
    font-family: "Quicksand";
}

header section{
    height: 100%;
}
header section nav{
    height: 100%;
}
header nav ul li a{
    color: rgb(0, 0, 0);
}
header nav ul li a:hover{
    color: rgb(200, 146, 245);
    text-decoration: none;
}
.logo{
    margin: 0px;
}
.logo a{
    font-family: 'Ranchers';
    color: white;
    font-size: 60px;
}
.logo a:hover {
    text-decoration: none;
    color: white;
}
header ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
header div.uk-navbar-center ul li{
    padding: 0 20px;

}
header div.uk-navbar-center ul li:nth-last-child(1){
    border-right: none;
}

header nav form input, header nav form ::placeholder, header nav form span{
    color: white !important;
}

div.barraNavegador ul.navegador {
    color: black;
    margin-top: 140px;
}

 div.fondoNav {
    background-color: rgb(237, 226, 248);
    height: 60px;
    margin-right: 0; 
    margin-bottom: 30px;
} 

nav.navegador {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
 */

div.headerPrincipal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(200, 146, 245);
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

div.headerPrincipal div h2.logo a{
    font-family: 'Ranchers';
    color: white !important;
    font-size: 50px;
}

div.headerPrincipal div h2.logo a:hover {
    text-decoration: none;
}

nav.uk-navbar-container {
    background-color: rgb(237, 226, 248) !important;
    
}

form.buscadoR ::placeholder, header nav form input span{
    color: white !important;
}

header ul{
    list-style: none;
}

nav div ul li a {
    font-family: 'Quicksand' !important ; 
    color: black !important ;
}

nav div ul li a:hover {
    color: rgb(200, 146, 245) !important;
}

ul li form {
    font-family: 'Quicksand';
}



