article.post{
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 10px;
}

article.post div.info-usuario{
    padding: 10px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
}
article.post div.info-usuario img{
    border-radius: 160px;
    padding: 1px;
    border: 1.5px solid red;
    width: 47px;
}
article.post div.info-usuario h4{
   margin: 8px 10px;
}

article.post div.post-body{
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}

article.post div.post-reacciones ul.post-icons{
    padding-top: 5px;
    padding-right: 30px;
    list-style-type: none;
}

article.post div.post-reacciones div.post-pie{
    padding-left: 20px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
}
article.post div.post-reacciones div.post-pie h5{
    margin: 0;
}
article.post div.post-reacciones div.post-pie p{
    margin: 0;
    padding-left: 15px;
    padding-right: 20px;
}
article.post div.post-comentarios {
    margin-top: 10px;
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
}
article.post div.post-comentarios h6{
    margin-bottom: 0;
    font-size: 15px;
}
article.post div.post-comentarios ul{
    list-style: none;
    margin-top: 5px;
    padding-top: 10px;
}
article.post div.post-comentarios ul li{
    display: flex;
}
article.post div.post-comentarios ul li a{
    color: black;
    font-weight: bolder;
    text-decoration: none;
}
article.post div.post-comentarios ul li p{
    margin: 0 5px;
}

div h4 {
    font-family: 'Quicksand';
}



div.post-reacciones ul li {
    padding-top: 15px;
}


a.usuario{
    font-family: 'Quicksand';
    color: rgb(200, 146, 245);
}

a.usuario:hover {
    text-decoration: none;
    color: rgb(200, 146, 245);
    
}


h4.nombreUsuario a{
    color: rgb(200, 146, 245);
}

h4.nombreUsuario a:hover {
    text-decoration: none;
    color: rgb(200, 146, 245);
}

div.contenedorChico {
    padding-bottom: 100px;
}

div h1.titulo {
    font-family: 'Reenie Beanie';
    font-size: 250px;
}

div.contenedorGeneral {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

article.post {
    width: 600px;
    margin-bottom: 100px;
}

div.post-body img {
    width: 800px;
}

ul li a.usuarioComent {
    font-family: 'Quicksand';
}

a.verMas {
    font-family: 'Quicksand'!important;
    color: rgb(200, 146, 245) !important;
}

div p {
    padding: 0;
}

p.manzana {
    padding: 0px !important;
}