input.botonIngresa {
    margin-top: 10px;
}

h1.titulo {
    font-family: 'Balsamiq Sna';
    margin-bottom: 40px;
    margin-top: 100px;
    font-size: 70px;
    color: rgb(54, 205, 91 ) ;
}

main {
    padding-top: 80px;
    padding-bottom: 70px;
}

form.iniciarSesion {
    border: solid 3px rgb(54, 205, 91 );
    padding: 50px;
}

p.registrateAca {
    font-family: QuickSand;
}

p a.registrateAqui:hover {
    color:rgb(54, 205, 91 );
    text-decoration: none;

}

p a.registrateAqui {
    color: dimgray;
}

