.info-usuario .foto-perfil{
    border-radius: 50%;
}

.info-usuario .red-usuario{
    list-style: none;
    padding: 0  ;
}

.muro{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid lightgray;
}
.muro .link-detalle{
    color: gray;
    text-decoration: none;
}

img.foto-perfil-principal {
    width: 210px;
}

div a.link-detalle p{
    font-family: 'Quicksand';
}

 div.contenedorChico{
    padding-top: 50px !important;
    padding-bottom: 150px !important;
}

div h3 a {
    font-family: 'QuickSand';
    color: rgb(200, 146, 245);
}

div h3 a:hover {
    text-decoration: none;
}


div.nombreUsuario a:hover{
    color: rgb(200, 146, 245);
}

section.info-usuario {
    padding-bottom: 30px;
}
