

div.bienvenida h1.bienvenidoA {
    font-family: 'Reenie Beanie';
    font-size: 75px;
    padding-top: 28px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: bold;
    
}

div.contenedorMayor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;



}

form.registracion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand';
    border: 1px solid #CCC;
    border-radius: 35px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 100px;
    margin-top: 40px;

}


p input.fechaNacimiento {
    margin-left: 20px;
}

main {
    padding-top: 30px;
    padding-bottom: 130px;
}

div.gifS {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;

}

div.gifBienvenida img{
    height: 206px;
    border-radius: 200px;
    margin-bottom: 40px;
}

select.pregunta {
    font-family: 'Quicksand';
}

input.fechaNacimiento {
    font-family: 'Quicksand'
}